## Naiive Bayes Algorithm
- P(queen | diamond) = P(diamond | queen) * P(queen) / P(diamond)
- P(diamond | queen) = 1/4 
- P(queen) 1/13
- P(diamond) = 1/4
- P(queen | diamond) = 1/4 * 1/13 /1/4 = 1/13

In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.tail()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.drop(1309, axis=0, inplace=True)
features = df.drop('survived', axis='columns')
target = df.survived

In [3]:
df.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [4]:
dummies = pd.get_dummies(features.sex)

In [5]:
dummies

      female  male
0          1     0
1          0     1
2          1     0
3          0     1
4          1     0
...      ...   ...
1304       1     0
1305       1     0
1306       0     1
1307       0     1
1308       0     1

[1309 rows x 2 columns]

In [6]:
features = pd.concat([features, dummies], axis = 'columns')
features.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,female,male
0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",1,0
1,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",0,1
2,1.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1,0
3,1.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",0,1
4,1.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1,0

In [7]:
features.columns[features.isna().any()]

Index(['age', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], dtype='object')

In [8]:
df.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [9]:
features.drop(['name', 'sex', 'sibsp', 'parch', 'ticket',
               'cabin', 'embarked', 'boat', 'body', 'home.dest'], axis = 'columns', inplace = True)

In [10]:
features.head()

   pclass      age      fare  female  male
0     1.0  29.0000  211.3375       1     0
1     1.0   0.9167  151.5500       0     1
2     1.0   2.0000  151.5500       1     0
3     1.0  30.0000  151.5500       0     1
4     1.0  25.0000  151.5500       1     0

In [11]:
features.columns[features.isna().any()]

Index(['age', 'fare'], dtype='object')

In [12]:
features.age = features.age.fillna(features.age.mean())
features.fare = features.fare.fillna(features.fare.mean())

In [13]:
features.columns[features.isna().any()]

Index([], dtype='object')

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state = 101)

In [15]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
modelG = GaussianNB()
modelM = MultinomialNB()
modelB = BernoulliNB()

In [16]:
modelG.fit(X_train, y_train)
modelM.fit(X_train, y_train)
modelB.fit(X_train, y_train)

BernoulliNB()

In [17]:
print(modelG.score(X_test, y_test))
print(modelM.score(X_test, y_test))
print(modelB.score(X_test, y_test))

0.7938931297709924
0.6564885496183206
0.8091603053435115