In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')
df.tail()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.drop(1309, axis = 0, inplace = True)
features = df.drop('survived', axis = 'columns')
target = df.survived

In [3]:
df.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [4]:
dummies = pd.get_dummies(features.sex)
dummies

      female  male
0          1     0
1          0     1
2          1     0
3          0     1
4          1     0
...      ...   ...
1304       1     0
1305       1     0
1306       0     1
1307       0     1
1308       0     1

[1309 rows x 2 columns]

In [5]:
featues = pd.concat([features, dummies], axis = 1)

In [6]:
features.tail()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1304,3.0,"Zabour, Miss. Hileni",female,14.5,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,"Zakarian, Mr. Mapriededer",male,26.5,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,"Zimmerman, Mr. Leo",male,29.0,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [7]:
features.columns[features.isna().any()]

Index(['age', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], dtype='object')

In [8]:
df.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [9]:
features.drop(['name', 'sex', 'sibsp', 'parch', 'ticket', 
               'cabin', 'embarked', 'boat', 'body', 'home.dest'], 
              axis = 1, inplace = True)

In [10]:
features.head()

   pclass      age      fare
0     1.0  29.0000  211.3375
1     1.0   0.9167  151.5500
2     1.0   2.0000  151.5500
3     1.0  30.0000  151.5500
4     1.0  25.0000  151.5500

In [11]:
features.columns[features.isna().any()]

Index(['age', 'fare'], dtype='object')

In [12]:
features.age = features.age.fillna(features.age.mean())
features.fare = features.fare.fillna(features.fare.mean())

In [13]:
features.columns[features.isna().any()]

Index([], dtype='object')

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, target,
                                                   test_size = 0.2, random_state = 101)
X_train

      pclass        age      fare
1218     3.0  30.000000    8.0500
1060     3.0  18.000000    7.7750
24       1.0  29.000000  221.7792
840      3.0  24.000000    8.8500
816      3.0  29.881135    7.8958
...      ...        ...       ...
575      2.0  27.000000   21.0000
973      3.0  29.881135    7.5500
75       1.0  47.000000   25.5875
599      2.0  24.000000   13.0000
863      3.0  28.000000    7.8958

[1047 rows x 3 columns]

In [15]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
modelG = GaussianNB()
modelM = MultinomialNB()
modelB = BernoulliNB()

In [16]:
modelG.fit(X_train, y_train)
modelM.fit(X_train, y_train)
modelB.fit(X_train, y_train)

BernoulliNB()

In [17]:
print(modelG.score(X_test, y_test))
print(modelM.score(X_test, y_test))
print(modelB.score(X_test, y_test))

0.648854961832061
0.6564885496183206
0.5916030534351145